@using EmployeeM.Controllers

@inject ThemeController ThemeController

@{

    string BodyBGColor = ThemeController.GetBodyBGColor();
    string BodyColor = ThemeController.GetBodyColor();
    string HeaderFooterBGColor = ThemeController.GetHeaderFooterBGColor();
    string HeaderFooterColor = ThemeController.GetHeaderFooterColor();

}
<style>


    .custom-header-footer {
 
          background-color: @(string.IsNullOrEmpty(HeaderFooterBGColor) ? "white" : HeaderFooterBGColor);
        color: @(string.IsNullOrEmpty(HeaderFooterColor) ? "orange" : HeaderFooterColor);
    }

    .custom-header-footer {
        color: @(string.IsNullOrEmpty(HeaderFooterColor) ? "#80bfff" : HeaderFooterColor);
    }

    .custom-body {
        background-color: @(string.IsNullOrEmpty(BodyBGColor) ? "#80bfff" : BodyBGColor);
        color: @(string.IsNullOrEmpty(BodyColor)? "white" : BodyColor);
        }

</style>




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmployeeM.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>


<body >
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow"
             style="background-color:@(string.IsNullOrEmpty(HeaderFooterBGColor) ? "#ffff" : HeaderFooterBGColor)">

            <div class="container-fluid">
                <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index">Employee</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <partial name="_loginPartial" />
                </div>

            </div>
           
        </nav>
    </header>
    <div>
    <div class="container">
        <main role="main">
            @RenderBody()
         
        </main>
    </div>
    </div>

   

        
        <!-- Footer -->
        <div class="w3-container  custom-header-footer w3-black w3-center w3-opacity w3-padding-64">
            <h1 class="w3-margin w3-xlarge">"EmployeeM, smarter employee management"</h1>
        </div>


        <footer class="w3-container  custom-header-footer w3-padding-64 w3-center w3-opacity">
            <div class="w3-xlarge w3-padding-32">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                <i class="fa fa-instagram w3-hover-opacity"></i>
                <i class="fa fa-snapchat w3-hover-opacity"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                <i class="fa fa-twitter w3-hover-opacity"></i>
                <i class="fa fa-linkedin w3-hover-opacity"></i>
            </div>
           
        </footer>





    <script>
        // Used to toggle the menu on small screens when clicking on the menu button
        function myFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
  
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

