@using EmployeeM.Controllers

@inject ThemeController ThemeController

@{

    string BodyBGColor = ThemeController.GetBodyBGColor();
    string BodyColor = ThemeController.GetBodyColor();
    string HeaderFooterBGColor = ThemeController.GetHeaderFooterBGColor();
    string HeaderFooterColor = ThemeController.GetHeaderFooterColor();

}
<style>


    .custom-header-footer {
        background-color: @(string.IsNullOrEmpty(HeaderFooterBGColor) ? "black" : HeaderFooterBGColor);
        color: @(string.IsNullOrEmpty(HeaderFooterColor) ? "white" : HeaderFooterColor);
    }

    .custom-header-footer {
        color: @(string.IsNullOrEmpty(HeaderFooterColor) ? "white" : HeaderFooterColor);
    }

    .custom-body {
        background-color: @(string.IsNullOrEmpty(BodyBGColor) ? "black" : BodyBGColor);
        color: @(string.IsNullOrEmpty(BodyColor)? "white" : BodyColor);
        }

   
</style>




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmployeeM.styles.css" asp-append-version="true" />
</head>
<body >
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow"
             style="background-color:@(string.IsNullOrEmpty(HeaderFooterBGColor) ? "#ffff" : HeaderFooterBGColor)">

            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Employee</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <partial name="_loginPartial" />
                </div>
            </div>
           
        </nav>
    </header>
    <div class="custom-body">
    <div class="container">
        <main role="main">
            @RenderBody()
         
        </main>
    </div>
    </div>
    <footer class="footer text-muted">
        <div class="custom-header-footer">
            &copy; 2024 - Employee - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

